@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// html, body {
//     width:100vw;
//     overflow-x:hidden;
// }

:root {
    font-family: 'Nunito', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 28px;

    --intro: rgb(28, 26, 58);
    --intro: rgb(36, 46, 105);
    --body:  rgb(20, 20, 20);
    --contact:  rgb(19, 18, 18);
    --surface:  rgb(19, 18, 20);

    --scrollThumb: #8a8383;
    --scrollThumb: rgb(69, 69, 71);
    --scrollTrack: rgb(34, 32, 32);
    min-height: 100vh;
    background: linear-gradient(120deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    
    background: linear-gradient(120deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    --gradient1: linear-gradient(120deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    --gradient2: linear-gradient(120deg,  #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);

    color: rgb(241, 236, 252);
}

body {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;   
    overflow: hidden;

    // FANCY PADDING STUFF
    // padding: 39px;
    // padding:  42px;
    // padding-top: 0;

    
}

p {
    font-size: .7rem;
    margin-bottom: 12px;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

jacket#content {
    // min-height: 100%;
    display: block;
    flex: 1;
    background-color: rgb(0, 0, 0);
    background-color: var(--body);

    overflow-y: auto;

    // box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 12px 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 1.7rem;
    display: inline;
}


.heading {
    display: block;
    font-size: 2rem;
    padding: 3px;
    padding-bottom: 0;
    text-indent: 20px;
    margin-bottom: 15px;
    // background-color: rgba(12, 11, 11, 0.541);
    text-transform: uppercase;
}


section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 2rem;
    // background-color: rgba(12, 11, 11, 0.541);
    height: 100%;
}

@media only screen and (max-width: 900px) {
    section {
        padding-bottom: 1rem;
    }

    body {
        padding: 0px;
    }

}   


@media only screen and (max-width: 500px) {
    :root {
        font-size: 21px;
    }

    .heading {
        padding: 3px;
        padding-left: 0;
        padding-bottom: 0;
        text-indent: 0;
        margin-bottom: 3px;
    }
    

    body {
        padding: 0px;
    }
    
}   


@media (prefers-color-scheme: dark) {
    
}
  

@import 'partials/_header';
@import 'partials/_showcase';
@import 'partials/_welcome';


::-webkit-scrollbar {
    // width: 10px;
    width: 14px;

}
::-webkit-scrollbar-track {
    background: var(--scrollTrack);
    background: rgb(12, 5, 27);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollThumb);
    background: var(--gradient2);
    border: 4px solid var(--body);
    border-radius: 45px;
}

